.App {
  text-align: center;
}
:root {
  --color-principal: #9fdd82;
  --color-secundario: #fcca27;
  --color-negro: #000000;
  --color-blanco: #ffffff;
}

body {
  background-color: var(--color-principal);
}

h1{
  color: var(--color-secundario);
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
h2{
  color: var(--color-blanco);
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.categorias{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.btn_categoria{
  background-color: var(--color-secundario);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.main{
  background-color: var(--color-blanco);
  margin: 50px;
  padding: 30px;
  border-radius: 10px;
}